{% extends "layout.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}


<div class="col-10">

    <br> <br> <br>
    <div  id="filetable">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb navbar-dark bg-dark">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Library</a></li>
            <li class="breadcrumb-item active" aria-current="page">Data</li>
        </ol>
    </nav>


        <table id="table" class="table table-sm table-striped table-bordered table-dark container ">
            <thead class="text-center">
            <tr>
                <th class="margin-left:10">Nom</th>
                <th>Interaction</th>
            </tr>
            </thead>

            <tbody class="text-left">
            </tbody>
            <tfoot>
            <tr>
                <td class="text-right" colspan="2">
                    <div class="text-right">
                        <button class="material-icons btn-success text-right m-2 " id="test">file_upload</button>
                        <button class="material-icons btn-success text-right m-2 ">create_new_folder</button>
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
{% endblock %}