{% extends "layout.html" %}

{% block content %}

<div class="col-lg-8">
    <br> <br> <br>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb navbar-dark bg-dark">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Library</a></li>
            <li class="breadcrumb-item active" aria-current="page">Data</li>
        </ol>
    </nav>

    <div class="row" id="filetable">
        <table id="table" class="table table-sm table-striped table-bordered table-dark container " cellspacing="0"
               width="100%">
            <thead class="text-center">
            <tr>
                <th class="margin-left:10">Nom</th>
                <th>Interaction</th>
            </tr>
            </thead>

            <tbody class="text-left">
            <tr>
                <td class="col-4">
                    <i class="material-icons btn ">insert_drive_file</i>Nom de fichier
                </td>

                <td class=" col-1">
                    <nav class="navbar navbar-expand-lg navbar-expand-xl navbar-expand-md">
                        <button class="navbar-toggler material-icons btn-info btn-lg m-2 p-1"
                                data-toggle="collapse"
                                data-target="#groupBtn" aria-controls="groupBtn" aria-expanded="false"
                                aria-label="Toggle navigation">list
                        </button>
                        <div class="collapse navbar-collapse" id="groupBtn">
                            <button class="material-icons btn-info btn-lg m-2 p-1">info</button>
                            <button class="material-icons btn-success btn-lg m-2 p-1">file_download</button>
                            <button class="material-icons btn-primary btn-lg m-2 p-1">mode_edit</button>
                            <button class="material-icons btn-danger btn-lg m-2 p-1">delete</button>
                        </div>
                    </nav>
                </td>


            </tr>
            <tr>
                <td class="col-4">
                    <i class="material-icons btn">folder</i>Nom de dossier
                </td>

                <td class=" col-1">
                    <nav class="navbar navbar-expand-lg navbar-expand-xl navbar-expand-md">
                        <button class="navbar-toggler material-icons btn-info btn-lg m-2 p-1"
                                data-toggle="collapse"
                                data-target="#groupBtnBis" aria-controls="groupBtnBis" aria-expanded="false"
                                aria-label="Toggle navigation">list
                        </button>

                        <div class="collapse navbar-collapse" id="groupBtnBis">
                            <button class="material-icons btn-info btn-lg m-2 p-1">info</button>
                            <button class="material-icons btn-primary btn-lg m-2 p-1">mode_edit</button>
                            <button class="material-icons btn-danger btn-lg m-2 p-1">delete</button>
                        </div>
                    </nav>

                </td>
            </tr>
            </tbody>
            <tfoot>
            <td class="text-right" colspan="2">
                <div class="text-right">
                    <button class="material-icons btn-success text-right m-2 ">file_upload</button>
                    <button class="material-icons btn-success text-right m-2 ">create_new_folder</button>
                </div>
            </td>
            </tfoot>
        </table>
    </div>
</div>
{% endblock %}