{% extends "layoutHome.html" %}

{% block home %}


<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">


    <main role="main" class="inner cover">
        <br><br><br><br><br>
        <h1 class="cover-heading">FireCo.</h1>
        <img class="mb-4 img-fluid rounded-circle" src="/view/ressources/ICON_PhenixCoaching_rgb.jpg" alt="" width="200"
             height="200">
        <p class="lead">Gère tes documents à distance avec FireCo and Co.</p>
        <p class="lead">
            <a href="view/login" class="btn btn-lg btn-secondary">Connexion</a>
            <a href="view/subscription" class="btn btn-lg btn-secondary">S'inscrire</a>
        </p>
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>Projet réalisé par Nicolas SAGOT, Anthony MARECHAL et Ombeline MOZDZIERZ <br><a
                    class="mt-5 mb-3 text-muted " href="https://github.com/lyoko17220/FirecoWorker">Lien GitHub</a>.</p>
        </div>
    </footer>
</div>


{% endblock %}